body {
  margin: 0;
  background-color: #e7cec8;
}

.app {
  background-color: #e7cec8;
  height: 1000px;
  margin: auto;
  /* makes screen alignment centered */
  text-align: center;
  /* can possibly can to 100 later */
  width: 90%;
  /* display: flex;
  flex-direction: column;
  align-items: stretch; */
}