@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

.promptContainer {
  /* background: #fff; */
  /* border-radius: 10px; */
  /* box-shadow: 0px 0px 4px 4px #000; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'New Tegomin', serif;
  height: 150px;
  margin: 0 auto 0 auto;
  opacity: .7;
  padding: 0 10px 0 10px;
  width: 300px;
}

.promptContainer input {
  border: 2px solid #000;
  border-radius: 10px;
  font-family: 'New Tegomin', serif;;
  height: 30px;
  margin: 0 10px 0 0;
  padding-left: 10px;
}

.promptContainer input:focus {
  border: 2px solid #695f5d;
  box-shadow: 0 0 3px #695f5d;
  outline-offset: 0px;
  outline: none;
}

.promptContainer button {
  border: 2px solid #000;
  border-radius: 10px;
  font-family: 'New Tegomin', serif;;
  height: 35px;
  margin: 0px 0 5px 0;
}

.promptContainer button:focus {
  border: 2px solid #695f5d;
  box-shadow: 0 0 3px #695f5d;
  outline-offset: 0px;
  outline: none;
}