@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

.turnAround {
  /* margin-top: 50px; */
  padding-top: 30px;
  /* height: 201px; */
  width: 401px;
  border-radius: 20px;
  background-color: #fff;
  font-family: 'New Tegomin', serif;
  opacity: .7;
}

.turnAround img {
  width: 300px;
}